API_ENDPOINT=
NEXT_PUBLIC_API_ENDPOINT=
STRAPI_BACKEND_URL=
NEXT_PUBLIC_STRAPI_BACKEND_URL=
NEXT_PUBLIC_GOOGLE_ANALYTICS=
SENTRY_DSN=
NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_ENABLE_COMMENTS=
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=
APP_ENV=
SITE_URL=
######## only add this in production environment #########
SENTRY_ENVIRONMENT=production